* {
    font-family: "JetBrainsMonoNL Nerd Font ExtraBold";

    font-size: 13px;
}

window#waybar {
    background-color: rgba(36, 41, 51, 0.9);
}

button {
    border: none;

    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces {
    margin-right: 20px;
}

#workspaces button {
    padding: 0 5px;

    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(76, 86, 106, 0.5);
}

#workspaces button.focused {
    background-color: #4C566A;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#tray {
    margin: 3px;

    padding: 0 7.5px;
    
    color: #ffffff;
}

#clock {
    color: #eceff4;

    margin-left: 30px; 
}

#battery {
    color: #D8DEE9;
}

#battery.charging, #battery.plugged {
    color: #8fbcbb;
}

@keyframes blink {
    to {
        color: #bf616a;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;

    animation-duration: 0.5s;
    
    animation-timing-function: steps(12);
    
    animation-iteration-count: infinite;
    
    animation-direction: alternate;
}

#cpu {
    color: #A3BE8C;
}

#memory {
    color: #B48EAD;
}

#network {
    color: #5e81ac;
}

#network.disconnected {
    color: #f53c3c
}

#wireplumber {
    color: #EBCB8B;
}

#wireplumber.muted {
    color: #2a5c45;
}

#temperature {
    color: #D08770;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
